IVO46O_0920/IVO46O_konferencia.dtd

<!ELEMENT konferencia (cim, hallgatok, helyszin, eloado, datum)>
<!ELEMENT cim (#PCDATA)>
<!ELEMENT hallgatok (hallgato+)>
<!ELEMENT hallgato (nev, lakcim)>
<!ELEMENT nev (#PCDATA)>
<!ELEMENT lakcim (#PCDATA)>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT eloado (nev, lakcim, adoszam)>
<!ELEMENT adoszam (#PCDATA)>
<!ELEMENT datum (#PCDATA)>